{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.queries|length > 0 %}
        {% set icon %}
            {{ include('@BazingaGeocoder/Collector/icon.svg') }}
            <span class="sf-toolbar-value">{{ collector.queries|length }}</span>
            <span class="sf-toolbar-label">in</span>
            <span class="sf-toolbar-value">{{ collector.totalDuration|number_format }}</span>
            <span class="sf-toolbar-label">ms</span>
        {% endset %}
        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>{{ collector.queries|length }} queries</b>
            </div>
            <div class="sf-toolbar-info-piece">
                <table class="sf-toolbar-ajax-requests">
                    <thead>
                    <tr>
                        <th>Provider</th>
                        <th>Query</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody class="sf-toolbar-ajax-request-list">
                    {% for query in collector.queries %}
                        <tr>
                            <td>{{ query.providerName }}</td>
                            <td>{{ query.queryString }}</td>
                            <td>{{ query.duration == 0 ? 'n/a' : query.duration|number_format ~ ' ms'}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endset %}

        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endif %}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label {{ collector.queries|length == 0 ? 'disabled' }}">
        <span class="icon">
            {{ include('@BazingaGeocoder/Collector/icon.svg') }}
        </span>
        <strong>Geocoder</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Geocoder</h2>

    <div class="sf-tabs">
        {% for provider in collector.providers %}
        <div class="tab">
            <h3 class="tab-title">{{ provider|humanize }} <span class="badge">{{ collector.providerQueries(provider)|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These queries are executed by a provider named "{{ provider }}".
                </p>

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="full-width">Query</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                {% for query in collector.providerQueries(provider) %}
                    <tr>
                        <td class="font-normal text-small" nowrap="">
                            <span class="colored text-bold"># {{ loop.index }}</span>
                        </td>
                        <td class="font-normal">
                            <span class="dump-inline">
                                {{ query.queryString }}
                            </span>
                            <span class="metadata">
                                <a class="btn btn-link text-small sf-toggle" data-toggle-selector="#geocoder-{{ provider }}-{{ loop.index }}-details" data-toggle-alt-content="Hide context">Show context</a>

                                 <div id="geocoder-{{ provider }}-{{ loop.index }}-details" class="context sf-toggle-content sf-toggle-hidden">
                                     {{ profiler_dump(query.query, maxDepth=1) }}
                                     <hr />
                                     {{ profiler_dump(query.result, maxDepth=2) }}
                                </div>
                            </span>
                        </td>
                        <td class="font-normal text-small" nowrap="">
                            {{ query.duration|number_format }} ms
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            </div>
        </div>
        {% else %}
        <div class="empty">
            <p>No queries were executed.</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
